body {
    display: flex;
    min-height: 100vh;
    min-width: 800px;
    flex-direction: column;
    margin: 0 10px;
    /*background-color: darkslategrey;*/
}

header {
    border: darkred;
}

nav {
    padding: 0 10px;
}

nav h1 {
    margin: 0;
}

main {
    flex: 1 0 auto;
}

th, td{
    border: 1px solid gray;
}
#color {
    background-color: darkorange;
}

.file {
    background-color: #ff9f60;
}

.note {
    background-color: #00ffff;
}

.selected {
    color: white;
    background-color: darkslategrey;
}

#total-length {
    float: left;
}

#video {
    float: right;
}
a {
    color: white;
}
